<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
    <body>
        <section class="m-5">
            <% if (productExists) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Imagen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(product=> { %>
                            <tr>
                                <td>
                                    <%= product.product %>
                                </td>
                                <td>
                                    <%= product.value %>
                                </td>
                                <td>
                                    <img src="<%= product.urlImagen %>" class="w-25 h-auto">
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            <% } else { %>
                <div class="alert alert-danger" role="alert">
                    <p>No hay productos disponibles</p>   
                </div>
            <% } %>
            <a class="btn btn-primary mt-5" href="../" role="button">Agregar Productos</a>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    </body> 
</html>