include partials/head.pug

body
    section(class="m-4")
        h1(class='my-5') Agregar Productos
        form(action="/productos" method="post")
            div(class="row")
                div(class="col")
                    input(type="text" name="product" class="form-control" placeholder="Producto" aria-label="First name" id="product" required="true")
                
                div(class="col")
                    input(input type="text" name="value" class="form-control" placeholder="Precio" aria-label="Valor" id="value" required="true")

                div(class="col")
                    input(type="submit" value="Agregar")
        a(class="btn btn-primary mt-5" href="./productos" role="button") Ir a productos

    script(
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"
    )